body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
h1{ text-align: center;}
.buttons{
  display: flex;
  gap: 10px;

}
button{
  background-color: blue;
  border: none;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  padding: 15px;
}